/* --------------------------------

Primary style

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box;
}
@font-face {
  font-family: bohemian;
  src: url(../fonts/bohemian.otf);
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "PT Sans", sans-serif;
  color: #242322;
  /* background-color: blue; */
  background-image: url(../img/home-background-colored.jpg);
  background-size:cover;
  background-repeat:no-repeat;
  background-position: top;
}
.page_portfolio {
  background: rgb(150,62,64);
  background: radial-gradient(circle, rgba(150,62,64,1) 0%, rgba(51,1,54,1) 50%);
}

a {
  color: #5e1742;
  text-decoration: none;
  font-family: roboto condensed;
  font-weight: 400;
  letter-spacing: 3px;
}
.primary-nav a:hover {
  text-shadow: 2px 2px 4px #fff;
  transition: .25s;
  transform:scale(1.1);
}

/* --------------------------------

Patterns - reusable parts of our design

-------------------------------- */
.cd-btn {
  display: inline-block;
  height:100%;
  padding: 1.7em 2.4em;
  font-size: 1.4rem;
  letter-spacing: .15em;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
/*  background: rgb(94,23,66);
  background: radial-gradient(circle, rgba(94,23,66,1) 25%, rgba(51,1,54,1) 75%);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: box-shadow 0.3s;
  -moz-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
}
.no-touch .cd-btn:hover {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.5);
}

/* --------------------------------

Typography

-------------------------------- */
.homeh1{
  font-size: 22px;
  letter-spacing: 4px;
  line-height: 1;
  margin-bottom: 1em;
  margin-top: 1em;
  font-family: roboto condensed, sans-serif;
}
.portfolio_h1 {
  color: #fff;
}
.project-title h2 {
  font-family: bohemian!important;
}
.portfolio_link {
  text-align:center;
  padding: 12px;
  border-radius:10px;
  background-color:#ff5e35;
  color:#fff;
}
.portfolio_link:hover {
  transform:scale(1.1);
  transition:.25s;
  box-shadow:5px 5px 10px #5e1742;
}
.goshineon1 {
  margin-bottom:5px!important;
}
.goshineon {
  margin-top:0!important;
}
/*@media only screen and (min-width: 768px) {
  h1 {
    font-size: 5rem;
  }
}*/

/* --------------------------------

Main Content

-------------------------------- */
.cd-main-content {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100vh;
  /* vertically align its content */
  display: table;

}
.cd-main-content .center {
  /* vertically align inside parent element */
  display: table-cell;
  text-align: center;
}

/* --------------------------------

Modal window

-------------------------------- */
.cd-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #402f44 url(../img/modal-bgv2.jpg) no-repeat center center;
  background-size: cover;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
}
.cd-modal .modal-content {
  height: 100%;
  overflow-y: auto;
  padding: 3em 5%;
  color: #e4dcca;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cd-modal h1 {
  text-align: center;
  font-size: 48px;
  letter-spacing: 4px;
  font-family: roboto condensed;
  margin-bottom: 40px;
}
.cd-modal h1::after {
  /* ink/brush separation */
  content: '';
  display: block;
  width: 130px;
  height: 18px;
  background: url(../img/ink-separation.svg) no-repeat center center;
  margin: .2em auto 0;
}
.cd-modal p {
  line-height: 1.6;
  margin: 2em auto;
  max-width: 800px;
}
.cd-modal .modal-close {
  /* 'X' icon */
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 5%;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3) url(../img/cd-icon-close.svg) no-repeat center center;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
  -moz-transition: -moz-transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
  transition: transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
}
.no-touch .cd-modal .modal-close:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.cd-modal.visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.7s, visibility 0s;
  -moz-transition: opacity 0.7s, visibility 0s;
  transition: opacity 0.7s, visibility 0s;
}
.cd-modal.visible .modal-content {
  /* this fixes the buggy scrolling on webkit browsers - mobile devices only - when overflow property is applied */
  -webkit-overflow-scrolling: touch;
}
.cd-modal.visible .modal-close {
  visibility: visible;
  opacity: 1;
  -webkit-transition: -webkit-transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
  -moz-transition: -moz-transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
  transition: transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
@media only screen and (min-width: 1100px) {
  .cd-modal .modal-content {
    padding: 6em 5%;
  }
  .cd-modal .modal-close {
    height: 60px;
    width: 60px;
  }
  .cd-modal p {
    font-size: 2rem;
  }
}

/* --------------------------------

Transition Layer

-------------------------------- */
.cd-transition-layer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
}
.cd-transition-layer .bg-layer {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-2%);
  -moz-transform: translateY(-50%) translateX(-2%);
  -ms-transform: translateY(-50%) translateX(-2%);
  -o-transform: translateY(-50%) translateX(-2%);
  transform: translateY(-50%) translateX(-2%);
  /* its dimentions will be overwritten using jQuery to proportionally fit the viewport */
  height: 100%;
  /* our sprite is composed of 25 frames */
  width: 2500%;
  background: url(../img/inkv2.png) no-repeat 0 0;
  background-size: 100% 100%;
}
.cd-transition-layer.visible {
  opacity: 1;
  visibility: visible;
}
.cd-transition-layer.opening .bg-layer {
  -webkit-animation: cd-sequence 0.8s steps(24);
  -moz-animation: cd-sequence 0.8s steps(24);
  animation: cd-sequence 0.8s steps(24);
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.cd-transition-layer.closing .bg-layer {
  -webkit-animation: cd-sequence-reverse 0.8s steps(24);
  -moz-animation: cd-sequence-reverse 0.8s steps(24);
  animation: cd-sequence-reverse 0.8s steps(24);
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.no-cssanimations .cd-transition-layer {
  display: none;
}

@-webkit-keyframes cd-sequence {
  0% {
    /* translateX(-2%) is used to horizontally center the first frame inside the viewport */
    -webkit-transform: translateY(-50%) translateX(-2%);
  }
  100% {
    /* translateX(-98%) (2% + 96) is used to horizontally center the last frame inside the viewport  */
    -webkit-transform: translateY(-50%) translateX(-98%);
  }
}
@-moz-keyframes cd-sequence {
  0% {
    /* translateX(-2%) is used to horizontally center the first frame inside the viewport */
    -moz-transform: translateY(-50%) translateX(-2%);
  }
  100% {
    /* translateX(-98%) (2% + 96) is used to horizontally center the last frame inside the viewport  */
    -moz-transform: translateY(-50%) translateX(-98%);
  }
}
@keyframes cd-sequence {
  0% {
    /* translateX(-2%) is used to horizontally center the first frame inside the viewport */
    -webkit-transform: translateY(-50%) translateX(-2%);
    -moz-transform: translateY(-50%) translateX(-2%);
    -ms-transform: translateY(-50%) translateX(-2%);
    -o-transform: translateY(-50%) translateX(-2%);
    transform: translateY(-50%) translateX(-2%);
  }
  100% {
    /* translateX(-98%) (2% + 96) is used to horizontally center the last frame inside the viewport  */
    -webkit-transform: translateY(-50%) translateX(-98%);
    -moz-transform: translateY(-50%) translateX(-98%);
    -ms-transform: translateY(-50%) translateX(-98%);
    -o-transform: translateY(-50%) translateX(-98%);
    transform: translateY(-50%) translateX(-98%);
  }
}
@-webkit-keyframes cd-sequence-reverse {
  0% {
    -webkit-transform: translateY(-50%) translateX(-98%);
  }
  100% {
    -webkit-transform: translateY(-50%) translateX(-2%);
  }
}
@-moz-keyframes cd-sequence-reverse {
  0% {
    -moz-transform: translateY(-50%) translateX(-98%);
  }
  100% {
    -moz-transform: translateY(-50%) translateX(-2%);
  }
}
@keyframes cd-sequence-reverse {
  0% {
    -webkit-transform: translateY(-50%) translateX(-98%);
    -moz-transform: translateY(-50%) translateX(-98%);
    -ms-transform: translateY(-50%) translateX(-98%);
    -o-transform: translateY(-50%) translateX(-98%);
    transform: translateY(-50%) translateX(-98%);
  }
  100% {
    -webkit-transform: translateY(-50%) translateX(-2%);
    -moz-transform: translateY(-50%) translateX(-2%);
    -ms-transform: translateY(-50%) translateX(-2%);
    -o-transform: translateY(-50%) translateX(-2%);
    transform: translateY(-50%) translateX(-2%);
  }
}

/*Hamburger Menu*/
.hamburger {
  height:100%;
}
.hamburger .line{
  width: 25px;
  height: 2px;
  background-color: #ff5e35;
  display: block;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.hamburger:hover{
  cursor: pointer;
}
.primary-nav {
  display:flex;
  flex-direction:column;
  align-items:center;
}
.primary-nav a {
  font-size:36px;
  margin-bottom:5%;
  font-family: roboto condensed;
  letter-spacing: 4px;
  color: #5e1742;
}
.navbar {
  border-bottom: 1px solid #330136;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 20px;
}
.navbar_portfolio {
  border-bottom: 1px solid #ff5e35;
}
.headlines {
  display:flex;
}
.headlines h1 {
  font-size:50px;
  margin-top: 50px;
}
#designer , #coder{
  width:50%;
}
#designer h1, #designer_qualifications {
  margin-left:10%;
  text-align:left;
}
#coder h1, #coder_qualifications{
  font-family:courier new;
  margin-left:35%;
}
#coder p {
  margin-left:47%;
}
.qualifications {
  width: 50%;
  text-align:left;
  margin-top:20px;
  line-height:20px;
}

.portfolio_button{
  margin-top:18%;
}
.portfolio_button a {
  background-color:#fff;
  padding: 12px 22px;
  border-radius:10px;
  font-size:24px;
  letter-spacing:4px;
}
.portfolio_button:hover{
  opacity:0.8;
  transition: .25s;
}
/*SWUP Transitions*/
.transition-fade {
  transition: .4s;
  transform:translateX(0);
}
html.is-animating .transition-fade {
  opacity:0;
  transform:translateX(-100);
  /* transform: translateY(-100px); */
}

/*Portfolio Tiles*/
.portfolio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}
.portfolio .credit {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #000;
}
.portfolio .options {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  overflow: hidden;
  min-width: 600px;
  max-width: 900px;
  width: calc(100% - 100px);
  height: 400px;
}
@media screen and (max-width: 718px) {
  .portfolio .options {
    min-width: 520px;
  }
  .portfolio .options .option:nth-child(5) {
    display: none;
  }
}
@media screen and (max-width: 638px) {
  .portfolio .options {
    min-width: 440px;
  }
  .portfolio .options .option:nth-child(4) {
    display: none;
  }
}
@media screen and (max-width: 558px) {
  .portfolio .options {
    min-width: 360px;
  }
  .portfolio .options .option:nth-child(3) {
    display: none;
  }
}
@media screen and (max-width: 478px) {
  .portfolio .options {
    min-width: 280px;
  }
  .portfolio .options .option:nth-child(2) {
    display: none;
  }
}
.portfolio .options .option {
  position: relative;
  overflow: hidden;
  min-width: 60px;
  margin: 10px;
  background: var(--optionBackground, var(--defaultBackground, #E6E9ED));
  background-size: auto 120%;
  background-position: center;
  cursor: pointer;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
.portfolio .options .option:nth-child(1) {
  --defaultBackground:#ED5565;
}
.portfolio .options .option:nth-child(2) {
  --defaultBackground:#FC6E51;
}
.portfolio .options .option:nth-child(3) {
  --defaultBackground:#FFCE54;
}
.portfolio .options .option:nth-child(4) {
  --defaultBackground:#2ECC71;
}
.portfolio .options .option:nth-child(5) {
  --defaultBackground:#5D9CEC;
}
.portfolio .options .option:nth-child(6) {
  --defaultBackground:#AC92EC;
}
.portfolio .options .option.active {
  flex-grow: 10000;
  transform: scale(1);
  max-width: 600px;
  margin: 0px;
  border-radius: 40px;
  background-size: auto 100%;
  /*&:active {
     transform:scale(0.9);
  }*/
}
.portfolio .options .option.active .shadow {
  box-shadow: inset 0 -120px 120px -120px black, inset 0 -120px 120px -100px black;
}
.portfolio .options .option.active .label {
  bottom: 20px;
  left: 20px;
}
.portfolio .options .option.active .label .info > div {
  left: 0px;
  opacity: 1;
}
.portfolio .options .option:not(.active) {
  flex-grow: 1;
  border-radius: 30px;
}
.portfolio .options .option:not(.active) .shadow {
  bottom: -40px;
  box-shadow: inset 0 -120px 0px -120px black, inset 0 -120px 0px -100px black;
}
.portfolio .options .option:not(.active) .label {
  bottom: 10px;
  left: 10px;
}
.portfolio .options .option:not(.active) .label .info > div {
  left: 20px;
  opacity: 0;
}
.portfolio .options .option .shadow {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 120px;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
.portfolio .options .option .label {
  display: flex;
  position: absolute;
  right: 0px;
  height: 40px;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
.portfolio .options .option .label .icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: white;
  color: var(--defaultBackground);
}
.portfolio .options .option .label .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  color: white;
  white-space: pre;
}
.portfolio .options .option .label .info > div {
  position: relative;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity 0.5s ease-out;
}
.portfolio .options .option .label .info .main {
  font-weight: bold;
  font-size: 1.2rem;
}
.portfolio .options .option .label .info .sub {
  transition-delay: .1s;
}
.flexme {
  display:flex;
  flex-direction:column;
  align-items:center;
  padding-bottom:50px;
}
